<!-- FOOTER -->
<div class="footer" style="margin-bottom:0">
  <nav id="bottom" class="navbar navbar-expand-md bg-custom navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#top">
      <img src="img/icons/wjs.png" alt="logo" style="width:60px;">
    </a>

    <!-- Copyright -->
    <ul  id = "copyright" class = "navbar-nav ml-auto">
      <li class = "nav-link">
      <small>Copyright © 2020 by W&Js Cinemas - All Rights Reserved</small> 
      </li>
      
    </ul>
  </nav>
  </div>