{{!< layout}}

<!-- BODY -->  

<div class="container" style="padding-top: 50px; padding-bottom: 100px;">
<h2>W&Js Cinemas</h2>
<br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a id="details"class="nav-link active" data-toggle="tab" href="#admindetails">Account Information</a>
    </li>
    <li class="nav-item">
      <a id="log"class="nav-link" data-toggle="tab" href="#adminlog">Log Details</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="admindetails" class="container tab-pane active"><br>
    <!-- ACCOUNT INFO -->
      <p><b>Username:&nbsp;&nbsp;</b> admin</p> 
      <p><b>First Name:&nbsp;&nbsp;</b> Iam</p> 
      <p><b>Last Name:&nbsp;&nbsp;</b> Anadmin</p> 
      <p><b>Mobile Number:&nbsp;&nbsp;</b> 09178522287</p> 
      <p><b>Email Address:&nbsp;&nbsp;</b> iamadmin@gmail.com</p>
      <p><b>Password:&nbsp;&nbsp;</b> ●●●●●</p> <br>
    </div>

    <!-- LOG -->
    <div id="adminlog" class="container tab-pane fade"><br>
     
        <table class="table table-hover table-responsive">
            <thead>
              <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Details</th>
                <th>Status</th>
              </tr>
            </thead>
           
            <tbody>

                <td>MAY 19, 2019 10:30 PM</td>
                <td>RESERVATION</td>
                <td><b>JOHN WICK: CHAPTER 3-PARABELLUM</b><br>
                    Cinema 2<br>
                    Seats: J16, J15, J14</td>
                <td>Reserved</td>
              </tr>

              <tr>
                <td>May 29, 2019 10:30 PM</td>
                <td>RESERVATION</td>
                <td><b>AVENGERS: ENDGAME</b><br>
                    Cinema 7<br>
                    Seats: J16, J15, J14</td>
                <td>Reserved</td>
              </tr>

              <tr>
                <td>JUNE 29, 2019 10:28 PM</td>
                <td>RESERVATION</td>
                <td><b>SPIDER-MAN: FAR FROM HOME</b><br>
                    Cinema 3<br>
                    Seats: L16, L15, L14</td>
                <td>Cancelled</td>
              </tr>

              <td>July 3, 2019 10:30 PM</td>
                <td>RESERVATION</td>
                <td><b>JOKER</b><br>
                    Cinema 4<br>
                    Seats: J16, J15, J14</td>
                <td>Reserved</td>
              </tr>

              <td>AUGUST 30, 2019 10:30 PM</td>
                <td>RESERVATION</td>
                <td><b>IT CHAPTER TWO</b><br>
                    Cinema 5<br>
                    Seats: J16, J15, J14</td>
                <td>Reserved</td>
              </tr>
            </tbody>
          </table>
          <br><br>
        </div>
    </div>
  
  </div>