<!-- BODY -->  

<div class="container" style="padding-bottom: 100px;">
<h2>W&Js Cinemas</h2>
<br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a id="faq"class="nav-link" data-toggle="tab" href="#faqs">FAQS</a>
    </li>
    
    <li class="nav-item">
      <a id="contact"class="nav-link active" data-toggle="tab" href="#contactus">CONTACT US</a>
    </li>
   
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="contactus" class="container tab-pane active"><br>
    <!-- CONTACT US -->
      <p><b>Corporate Address:&nbsp;&nbsp;</b> Rockwell Drive, Estrella, 4114 Makati</p> 
      <p><b>Landline:&nbsp;&nbsp;</b> 7777-7777</p> 
      <p><b>Mobile:&nbsp;&nbsp;</b> 09178522287</p> 
      <p><b>Email Address:&nbsp;&nbsp;</b> wjscinemas@gmail.com</p> <br>
    </div>

    <!-- TRANSACTIONS -->
    <div id="faqs" class="container tab-pane fade"><br>
        <p><b>Q:&nbsp;&nbsp;Can I cancel my reservation anytime?</b></p> 
        <p><b>A:&nbsp;&nbsp;</b>You may only cancel within 45 minutes of your current booking.</p> 
        <p><b>Q:&nbsp;&nbsp;Is it possible to change my current booking?</b></p> 
        <p><b>A:&nbsp;&nbsp;</b>No, the only way to do this is to cancel the current booking and make a new one.</p> 
        <p><b>Q:&nbsp;&nbsp;What is the next step after reserving?</b></p> 
        <p><b>A:&nbsp;&nbsp;</b>After reserving, simply present your digital ticket/s either through your mobile devices or a printed
            copy on the Online Resevations Line at W&Js Cinemas and pay for your physical ticket/s.</p>
       
          <br>
        </div>
    </div>
  
  </div>