<!-- CAROUSEL SLIDE -->
<div class="container-fluid">
  <div id="demo" class="carousel slide mx-auto" data-ride="carousel">
    <br>
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
    </ul>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img/images/1917.jpg" alt="1917" width="1100" height="500">
      </div>

      <div class="carousel-item">
        <img src="img/images/sonic.jpg" alt="Sonic" width="1100" height="500">   
      </div>

      <div class="carousel-item">
        <img src="img/images/parasite.jpg" alt="Parasite" width="1100" height="500">
      </div>

      <div class="carousel-item">
        <img src="img/images/bop.png" alt="Birds of Prey" width="1100" height="500">
      </div>

    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

</div>
</div>
<!-- END OF CAROUSEL SLIDE -->
<br>

<!-- NAV PILLS -->
<ul class="nav nav-pills mb-3 justify-content-center m-auto" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-nowshowing-tab" data-toggle="pill" href="#pills-nowshowing" role="tab" aria-controls="pills-nowshowing" aria-selected="true">NOW SHOWING</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-comingsoon-tab" data-toggle="pill" href="#pills-comingsoon" role="tab" aria-controls="pills-comingsoon" aria-selected="false">COMING SOON</a>
  </li>
 
</ul>
<!-- END OF NAV PILLS -->
<br>

<!-- TAB CONTENT -->
<div class="tab-content" id="pills-tabContent">


<!-- NOW SHOWING -->
<div class="tab-pane fade show active" id="pills-nowshowing" role="tabpanel" aria-labelledby="pills-nowshowing-tab">
      
<!-- MOVIE CARDS -->
<div class="container-fluid">
<div class="row">

<!-- CARD 1 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-dark text-white">
            <img src="img/images/1917-box.jpg" alt="1917" class="card-img">
            <div class = "overlay">
                <div class="card-img-overlay">
                   <center><h5 class= "card-title">1917</h5></center> 
                    <div class="card-body">
                      <!-- BUTTON 1 -->
                      <center class="my-1">
                        <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c1Modal1">Details</button>
                      </center>
                      <!-- END OF BUTTON 1 -->

                      <!-- BUTTON 2 -->
                      <center class="my-1">
                        <form action="c1.html" method="get" target="_self">
                          <button type="submit" class="btn btn-custom cardButtons mx-auto">Reserve</button>
                       </form>
                      </center>
                      <!-- END OF BUTTON 2 -->

                      <!-- BUTTON 3 -->
                      <center class="my-1">
                        <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c1Modal2">View Trailer</button>
                      </center>
                      <!-- END OF BUTTON 3 -->
                    </div>          
                    </div>
             </div>    
      </div>    
  </div>
  <!-- CARD 1 -->

     <!-- CARD 1 MODAL 1-->
     <div class="modal fade" id="c1Modal1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
              <h2 class="modal-title">1917</h2> 
              <button type="button" class="close" data-dismiss="modal">&times;</button> 
          </div>
        
          <!-- Modal body -->
          <div class="modal-body">
            <h5 class="modal-title"> R | 1h 59min | Drama, War | 10 January 2020 (USA)</h5><br>
            <p><b>Price: </b> Php 300.00</p>
            
            <p><b>Synopsis: </b>April 6th, 1917. As a regiment assembles to wage war deep in enemy territory, 
            two soldiers are assigned to race against time and deliver a message that will stop 1,600 men 
            from walking straight into a deadly trap.</p>
            <p><b>Director/s: </b>Sam Mendes</p>
            <p><b>Cast: </b>Dean-Charles Chapman, George MacKay, Daniel Mays</p>
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
          </div>
        
        </div>
        </div>
        </div>
        <!-- END OF CARD 1 MODAL 1 -->

          <!-- CARD 1 MODAL 2-->
          <div class="modal fade" id="c1Modal2">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
        
            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">1917 Trailer</h2> 
                <button type="button" class="close" data-dismiss="modal">&times;</button> 
            </div>
          
            <!-- Modal body -->
            <div class="modal-body">
              <!-- YOUTUBE EMBEDDED VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="660" height="371" 
                  src="https://www.youtube.com/embed/YqNYrYUiMfg" frameborder="0" 
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <!-- END OF YOUTUBE EMBEDDED VIDEO -->
              
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
            </div>
          
          </div>
          </div>
          </div>
        <!-- END OF CARD 1 MODAL 2 -->

<!-- CARD 2 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <div class="card bg-dark text-white">
          <img src="img/images/parasite-box.jpg" alt="Parasite" class="card-img">
          <div class = "overlay">
              <div class="card-img-overlay">
                <center><h5 class= "card-title">Parasite</h5></center> 
                <div class="card-body">
                  <!-- BUTTON 1 -->
                  <center class="my-1">
                    <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c2Modal1">Details</button>
                  </center>
                  <!-- END OF BUTTON 1 -->

                  <!-- BUTTON 2 -->
                  <center class="my-1">
                    <form action="c2.html" method="get" target="_self">
                      <button type="submit" class="btn btn-custom cardButtons mx-auto">Reserve</button>
                   </form>
                  </center>
                  <!-- END OF BUTTON 2 -->

                  <!-- BUTTON 3 -->
                  <center class="my-1">
                    <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c2Modal2">View Trailer</button>
                  </center>
                  <!-- END OF BUTTON 3 -->
                </div>          
                </div>
         </div>    
  </div>    
</div>
<!-- CARD 2 -->

 <!-- CARD 2 MODAL 1-->
 <div class="modal fade" id="c2Modal1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
          <h2 class="modal-title">Parasite</h2> 
          <button type="button" class="close" data-dismiss="modal">&times;</button> 
      </div>
    
      <!-- Modal body -->
      <div class="modal-body">
        <h5 class="modal-title"> R | 2h 12min | Comedy, Drama, Thriller | 8 November 2019 (USA)</h5><br>
        <p><b>Price: </b> Php 300.00</p>
        
        <p><b>Synopsis: </b>A poor family, the Kims, con their way into becoming the servants of a rich family, 
          the Parks. But their easy life gets complicated when their deception is threatened with exposure.</p>
        <p><b>Director/s: </b>Bong Joon Ho</p>
        <p><b>Cast: </b> Kang-ho Song, Sun-kyun Lee, Yeo-jeong Jo</p>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
      </div>
    
    </div>
    </div>
    </div>
    <!-- END OF CARD 2 MODAL 1 -->

      <!-- CARD 2 MODAL 2-->
      <div class="modal fade" id="c2Modal2">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
    
        <!-- Modal Header -->
        <div class="modal-header">
            <h2 class="modal-title">Parasite Trailer</h2> 
            <button type="button" class="close" data-dismiss="modal">&times;</button> 
        </div>
      
        <!-- Modal body -->
        <div class="modal-body">
          <!-- YOUTUBE EMBEDDED VIDEO -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="660" height="371" src="https://www.youtube.com/embed/5xH0HfJHsaY" 
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <!-- END OF YOUTUBE EMBEDDED VIDEO -->
          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
        </div>
      
      </div>
      </div>
      </div>
    <!-- END OF CARD 2 MODAL 2 -->

<!-- CARD 3 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
<div class="card bg-dark text-white">
        <img src="img/images/sonic-box.jpg" alt="Sonic the Hedgehog" class="card-img">
        <div class = "overlay">
            <div class="card-img-overlay">
              <center><h5 class= "card-title">Sonic the Hedgehog</h5></center> 
              <div class="card-body">
                <!-- BUTTON 1 -->
                <center class="my-1">
                  <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c3Modal1">Details</button>
                </center>
                <!-- END OF BUTTON 1 -->

                <!-- BUTTON 2 -->
                <center class="my-1">
                  <form action="c3.html" method="get" target="_self">
                    <button type="submit" class="btn btn-custom cardButtons mx-auto">Reserve</button>
                 </form>
                </center>
                <!-- END OF BUTTON 2 -->

                <!-- BUTTON 3 -->
                <center class="my-1">
                  <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c3Modal2">View Trailer</button>
                </center>
                <!-- END OF BUTTON 3 -->
              </div>          
              </div>
       </div>    
</div>    
</div>
<!-- CARD 3 -->

<!-- CARD 3 MODAL 1-->
<div class="modal fade" id="c3Modal1">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
  
    <!-- Modal Header -->
    <div class="modal-header">
        <h2 class="modal-title">Sonic the Hedgehog</h2> 
        <button type="button" class="close" data-dismiss="modal">&times;</button> 
    </div>
  
    <!-- Modal body -->
    <div class="modal-body">
      <h5 class="modal-title">PG | 1h 39min | Action, Adventure, Comedy | 14 February 2020 (USA)</h5><br>
      <p><b>Price: </b> Php 300.00</p>
      
      <p><b>Synopsis: </b>After discovering a small, blue, fast hedgehog,
         a small-town police officer must help it defeat an evil genius who wants to do experiments on it.</p>
      <p><b>Director/s: </b>Jeff Fowler</p>
      <p><b>Cast: </b> Ben Schwartz, James Marsden, Jim Carrey</p>
    </div>
    
    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
    </div>
  
  </div>
  </div>
  </div>
  <!-- END OF CARD 3 MODAL 1 -->

    <!-- CARD 3 MODAL 2-->
    <div class="modal fade" id="c3Modal2">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
  
      <!-- Modal Header -->
      <div class="modal-header">
          <h2 class="modal-title">Sonic the Hedgehog Trailer</h2> 
          <button type="button" class="close" data-dismiss="modal">&times;</button> 
      </div>
    
      <!-- Modal body -->
      <div class="modal-body">
        <!-- YOUTUBE EMBEDDED VIDEO -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="660" height="371" 
          src="https://www.youtube.com/embed/szby7ZHLnkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!-- END OF YOUTUBE EMBEDDED VIDEO -->
        
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
      </div>
    
    </div>
    </div>
    </div>
  <!-- END OF CARD 3 MODAL 2 -->

<!-- CARD 4 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
<div class="card bg-dark text-white">
        <img src="img/images/bop-box.jpg" alt="Birds of Prey" class="card-img">
        <div class = "overlay">
            <div class="card-img-overlay">
              <center><h5 class= "card-title">Birds of Prey</h5></center> 
              <div class="card-body">
                <!-- BUTTON 1 -->
                <center class="my-1">
                  <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c4Modal1">Details</button>
                </center>
                <!-- END OF BUTTON 1 -->

                <!-- BUTTON 2 -->
                <center class="my-1">
                  <form action="c4.html" method="get" target="_self">
                    <button type="submit" class="btn btn-custom cardButtons mx-auto">Reserve</button>
                 </form>
                </center>
                <!-- END OF BUTTON 2 -->

                <!-- BUTTON 3 -->
                <center class="my-1">
                  <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c4Modal2">View Trailer</button>
                </center>
                <!-- END OF BUTTON 3 -->
              </div>          
              </div>
       </div>    
</div>    
</div>
<!-- CARD 4 -->

<!-- CARD 4 MODAL 1-->
<div class="modal fade" id="c4Modal1">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
  
    <!-- Modal Header -->
    <div class="modal-header">
        <h2 class="modal-title">Birds of Prey</h2> 
        <button type="button" class="close" data-dismiss="modal">&times;</button> 
    </div>
  
    <!-- Modal body -->
    <div class="modal-body">
      <h5 class="modal-title">R | 1h 49min | Action, Adventure, Crime | 7 February 2020 (USA)</h5><br>
      <p><b>Price: </b> Php 300.00</p>
      
      <p><b>Synopsis: </b>After splitting with the Joker, Harley Quinn joins superheroes Black Canary,
         Huntress and Renee Montoya to save a young girl from an evil crime lord.</p>
      <p><b>Director/s: </b>Cathy Yan</p>
      <p><b>Cast: </b>  Margot Robbie, Rosie Perez, Mary Elizabeth Winstead </p>
    </div>
    
    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
    </div>
  
  </div>
  </div>
  </div>
  <!-- END OF CARD 4 MODAL 1 -->

    <!-- CARD 4 MODAL 2-->
    <div class="modal fade" id="c4Modal2">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
  
      <!-- Modal Header -->
      <div class="modal-header">
          <h2 class="modal-title">Birds of Prey Trailer</h2> 
          <button type="button" class="close" data-dismiss="modal">&times;</button> 
      </div>
    
      <!-- Modal body -->
      <div class="modal-body">
        <!-- YOUTUBE EMBEDDED VIDEO -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="660" height="371" 
          src="https://www.youtube.com/embed/kGM4uYZzfu0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!-- END OF YOUTUBE EMBEDDED VIDEO -->
        
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
      </div>
    
    </div>
    </div>
    </div>
  <!-- END OF CARD 4 MODAL 2 -->

</div>
<!-- END OF ROW-->

<span id="dots"></span> 

<!-- VIEW MORE -->

<div id="more" class="container">
<div class="row">
<!-- CARD 1 ROW 2-->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-dark text-white">
            <img src="img/images/bb4life-box.png" alt="Bad Boys for Life" class="card-img">
            <div class = "overlay">
                <div class="card-img-overlay">
                  <center><h5 class= "card-title">Bad Boys for Life</h5></center> 
                  <div class="card-body">
                    <!-- BUTTON 1 -->
                    <center class="my-1">
                      <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c1r2Modal1">Details</button>
                    </center>
                    <!-- END OF BUTTON 1 -->
    
                    <!-- BUTTON 2 -->
                    <center class="my-1">
                      <form action="c1r2.html" method="get" target="_self">
                        <button type="submit" class="btn btn-custom cardButtons mx-auto">Reserve</button>
                     </form>
                    </center>
                    <!-- END OF BUTTON 2 -->
    
                    <!-- BUTTON 3 -->
                    <center class="my-1">
                      <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c1r2Modal2">View Trailer</button>
                    </center>
                    <!-- END OF BUTTON 3 -->
                  </div>          
                  </div>
           </div>    
    </div>    
    </div>
    <!-- CARD 1 ROW 2 -->
    
    <!-- CARD 1 ROW 2 MODAL 1-->
    <div class="modal fade" id="c1r2Modal1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
            <h2 class="modal-title">Bad Boys for Life</h2> 
            <button type="button" class="close" data-dismiss="modal">&times;</button> 
        </div>
      
        <!-- Modal body -->
        <div class="modal-body">
          <h5 class="modal-title">R | 2h 4min | Action, Comedy, Crime | 17 January 2020 (USA)</h5><br>
          <p><b>Price: </b> Php 300.00</p>
          
          <p><b>Synopsis: </b>The Bad Boys Mike Lowrey and Marcus Burnett are back together for 
            one last ride in the highly anticipated Bad Boys for Life.</p>
          <p><b>Director/s: </b> Adil El Arbi, Bilall Fallah</p>
          <p><b>Cast: </b>   Will Smith, Martin Lawrence, Vanessa Hudgens </p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
        </div>
      
      </div>
      </div>
      </div>
      <!-- END OF CARD 1 ROW 2 MODAL 1 -->
    
        <!-- CARD 1 ROW 2 MODAL 2-->
        <div class="modal fade" id="c1r2Modal2">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
      
          <!-- Modal Header -->
          <div class="modal-header">
              <h2 class="modal-title">Bad Boys for Life Trailer</h2> 
              <button type="button" class="close" data-dismiss="modal">&times;</button> 
          </div>
        
          <!-- Modal body -->
          <div class="modal-body">
            <!-- YOUTUBE EMBEDDED VIDEO -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" width="660" height="371" 
              src="https://www.youtube.com/embed/jKCj3XuPG8M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <!-- END OF YOUTUBE EMBEDDED VIDEO -->
            
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
          </div>
        
        </div>
        </div>
        </div>
      <!-- END OF CARD 1 ROW 2 MODAL 2 -->

<!-- CARD 2 ROW 2-->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <div class="card bg-dark text-white">
          <img src="img/images/dolittle-box.jpg" alt="DoLittle" class="card-img">
          <div class = "overlay">
              <div class="card-img-overlay">
                <center><h5 class= "card-title">DoLittle</h5></center> 
                <div class="card-body">
                  <!-- BUTTON 1 -->
                  <center class="my-1">
                    <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c2r2Modal1">Details</button>
                  </center>
                  <!-- END OF BUTTON 1 -->
  
                  <!-- BUTTON 2 -->
                  <center class="my-1">
                    <form action="c2r2.html" method="get" target="_self">
                      <button type="submit" class="btn btn-custom cardButtons mx-auto">Reserve</button>
                   </form>
                  </center>
                  <!-- END OF BUTTON 2 -->
  
                  <!-- BUTTON 3 -->
                  <center class="my-1">
                    <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c2r2Modal2">View Trailer</button>
                  </center>
                  <!-- END OF BUTTON 3 -->
                </div>          
                </div>
         </div>    
  </div>    
  </div>
  <!-- CARD 2 ROW 2 -->
  
  <!-- CARD 2 ROW 2 MODAL 1-->
  <div class="modal fade" id="c2r2Modal1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
          <h2 class="modal-title">DoLittle</h2> 
          <button type="button" class="close" data-dismiss="modal">&times;</button> 
      </div>
    
      <!-- Modal body -->
      <div class="modal-body">
        <h5 class="modal-title">PG | 1h 41min | Adventure, Comedy, Family | 17 January 2020 (USA)</h5><br>
        <p><b>Price: </b> Php 300.00</p>
        
        <p><b>Synopsis: </b>A physician who can talk to animals embarks on an adventure to 
          find a legendary island with a young apprentice and a crew of strange pets.</p>
        <p><b>Director/s: </b>  Stephen Gaghan</p>
        <p><b>Cast: </b>  Robert Downey Jr., Antonio Banderas, Michael Sheen </p>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
      </div>
    
    </div>
    </div>
    </div>
    <!-- END OF CARD 2 ROW 2 MODAL 1 -->
  
      <!-- CARD 2 ROW 2 MODAL 2-->
      <div class="modal fade" id="c2r2Modal2">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
    
        <!-- Modal Header -->
        <div class="modal-header">
            <h2 class="modal-title">DoLittle Trailer</h2> 
            <button type="button" class="close" data-dismiss="modal">&times;</button> 
        </div>
      
        <!-- Modal body -->
        <div class="modal-body">
          <!-- YOUTUBE EMBEDDED VIDEO -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="660" height="371" src="https://www.youtube.com/embed/FEf412bSPLs" 
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <!-- END OF YOUTUBE EMBEDDED VIDEO -->
          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
        </div>
      
      </div>
      </div>
      </div>
    <!-- END OF CARD 2 ROW 2 MODAL 2 -->

<!-- CARD 3 ROW 2-->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
<div class="card bg-dark text-white">
        <img src="img/images/tnc-box.jpg" alt="The Night Clerk" class="card-img">
        <div class = "overlay">
            <div class="card-img-overlay">
              <center><h5 class= "card-title">The Night Clerk</h5></center> 
              <div class="card-body">
                <!-- BUTTON 1 -->
                <center class="my-1">
                  <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c3r2Modal1">Details</button>
                </center>
                <!-- END OF BUTTON 1 -->

                <!-- BUTTON 2 -->
                <center class="my-1">
                  <form action="c3r2.html" method="get" target="_self">
                    <button type="submit" class="btn btn-custom cardButtons mx-auto">Reserve</button>
                 </form>
                </center>
                <!-- END OF BUTTON 2 -->

                <!-- BUTTON 3 -->
                <center class="my-1">
                  <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c3r2Modal2">View Trailer</button>
                </center>
                <!-- END OF BUTTON 3 -->
              </div>          
              </div>
       </div>    
</div>    
</div>
<!-- CARD 3 ROW 2 -->

<!-- CARD 3 ROW 2 MODAL 1-->
<div class="modal fade" id="c3r2Modal1">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
  
    <!-- Modal Header -->
    <div class="modal-header">
        <h2 class="modal-title">The Night Clerk</h2> 
        <button type="button" class="close" data-dismiss="modal">&times;</button> 
    </div>
  
    <!-- Modal body -->
    <div class="modal-body">
      <h5 class="modal-title">R | 1h 30min | Crime, Drama | 21 February 2020 (USA)</h5><br>
      <p><b>Price: </b> Php 300.00</p>
      
      <p><b>Synopsis: </b>Voyeuristic hotel clerk becomes the subject of a murder investigation.</p>
      <p><b>Director/s: </b>   Michael Cristofer</p>
      <p><b>Cast: </b>   Tye Sheridan, Ana de Armas, Helen Hunt </p>
    </div>
    
    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
    </div>
  
  </div>
  </div>
  </div>
  <!-- END OF CARD 3 ROW 2 MODAL 1 -->

    <!-- CARD 3 ROW 2 MODAL 2-->
    <div class="modal fade" id="c3r2Modal2">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
  
      <!-- Modal Header -->
      <div class="modal-header">
          <h2 class="modal-title">The Night Clerk Trailer</h2> 
          <button type="button" class="close" data-dismiss="modal">&times;</button> 
      </div>
    
      <!-- Modal body -->
      <div class="modal-body">
        <!-- YOUTUBE EMBEDDED VIDEO -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="660" height="371" src="https://www.youtube.com/embed/8j6wDoyiyd4" 
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!-- END OF YOUTUBE EMBEDDED VIDEO -->
        
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
      </div>
    
    </div>
    </div>
    </div>
  <!-- END OF CARD 3 ROW 2 MODAL 2 -->

<!-- CARD 4 ROW 2-->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
<div class="card bg-dark text-white">
        <img src="img/images/callofwild-box.jpg" alt="The Call of the Wild" class="card-img">
        <div class = "overlay">
            <div class="card-img-overlay">
              <center><h5 class= "card-title">The Call of the Wild</h5></center> 
              <div class="card-body">
                <!-- BUTTON 1 -->
                <center class="my-1">
                  <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c4r2Modal1">Details</button>
                </center>
                <!-- END OF BUTTON 1 -->

                <!-- BUTTON 2 -->
                <center class="my-1">
                  <form action="c4r2.html" method="get" target="_self">
                    <button type="submit" class="btn btn-custom cardButtons mx-auto">Reserve</button>
                 </form>
                </center>
                <!-- END OF BUTTON 2 -->

                <!-- BUTTON 3 -->
                <center class="my-1">
                  <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c4r2Modal2">View Trailer</button>
                </center>
                <!-- END OF BUTTON 3 -->
              </div>          
              </div>
       </div>    
</div>    
</div>
<!-- CARD 4 ROW 2 -->

<!-- CARD 4 ROW 2 MODAL 1-->
<div class="modal fade" id="c4r2Modal1">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
  
    <!-- Modal Header -->
    <div class="modal-header">
        <h2 class="modal-title">The Call of the Wild</h2> 
        <button type="button" class="close" data-dismiss="modal">&times;</button> 
    </div>
  
    <!-- Modal body -->
    <div class="modal-body">
      <h5 class="modal-title">PG | 1h 40min | Adventure, Drama, Family | 21 February 2020 (USA)</h5><br>
      <p><b>Price: </b> Php 300.00</p>
      
      <p><b>Synopsis: </b>A sled dog struggles for survival in the wilds of the Yukon.</p>
      <p><b>Director/s: </b>   Chris Sanders</p>
      <p><b>Cast: </b>    Harrison Ford, Omar Sy, Cara Gee </p>
    </div>
    
    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
    </div>
  
  </div>
  </div>
  </div>
  <!-- END OF CARD 4 ROW 2 MODAL 1 -->

    <!-- CARD 1 ROW 2 MODAL 2-->
    <div class="modal fade" id="c4r2Modal2">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
  
      <!-- Modal Header -->
      <div class="modal-header">
          <h2 class="modal-title">The Call of the Wild Trailer</h2> 
          <button type="button" class="close" data-dismiss="modal">&times;</button> 
      </div>
    
      <!-- Modal body -->
      <div class="modal-body">
        <!-- YOUTUBE EMBEDDED VIDEO -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="660" height="371" src="https://www.youtube.com/embed/5P8R2zAhEwg" 
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!-- END OF YOUTUBE EMBEDDED VIDEO -->
        
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
      </div>
    
    </div>
    </div>
    </div>
  <!-- END OF CARD 4 ROW 2 MODAL 2 -->

</div>
<!-- END OF ROW 2-->
</div>
<!-- END OF CONTAINER -->

<div class="nav nav-pills mb-3 justify-content-center">
  <button onclick="myFunction()" id="myBtn" class="btn btn-custom btn-md">View All</button>
</div>

</div>
<!-- END OF NOW SHOWING -->
</div>
<!-- END OF CONTAINER -->


<!-- COMING SOON -->
<div class="tab-pane fade" id="pills-comingsoon" role="tabpanel" aria-labelledby="pills-comingsoon-tab">
 <!-- MOVIE CARDS -->
<div class="container-fluid">
  <div class="row">

  <!-- CARD 1 -->
  <div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card bg-dark text-white">
              <img src="img/images/aqp2-box.jpg" alt="A Quiet Place II" class="card-img">
              <div class = "overlay">
                  <div class="card-img-overlay">
                    <center><h5 class= "card-title">A Quiet Place II</h5></center> 
                    <div class="card-body">
                      <!-- BUTTON 1 -->
                      <center class="my-1">
                        <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c1-2Modal1">Details</button>
                      </center>
                      <!-- END OF BUTTON 1 -->
      
                      <!-- BUTTON 2 -->
                      <center class="my-1">
                        <form action="schedules.html" method="get" target="_self">
                          <button type="submit" class="btn btn-custom cardButtons mx-auto">Reserve</button>
                       </form>
                      </center>
                      <!-- END OF BUTTON 2 -->
      
                      <!-- BUTTON 3 -->
                      <center class="my-1">
                        <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c1-2Modal2">View Trailer</button>
                      </center>
                      <!-- END OF BUTTON 3 -->
                    </div>          
                    </div>
             </div>    
      </div>    
      </div>
      <!-- CARD 1 -->
      
      <!-- CARD 1 MODAL 1-->
      <div class="modal fade" id="c1-2Modal1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
              <h2 class="modal-title">A Quiet Place II</h2> 
              <button type="button" class="close" data-dismiss="modal">&times;</button> 
          </div>
        
          <!-- Modal body -->
          <div class="modal-body">
            <h5 class="modal-title">PG-13  | TBA | Horror, Thriller | 20 March 2020 (USA)</h5><br>
            <p><b>Price: </b> Php 300.00</p>
            
            <p><b>Synopsis: </b>In a post-apocalyptic world, a family is forced to live in silence 
              while hiding from monsters with ultra-sensitive hearing.</p>
            <p><b>Director/s: </b>  John Krasinski</p>
            <p><b>Cast: </b>  Emily Blunt, John Krasinski, Millicent Simmonds </p>
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
          </div>
        
        </div>
        </div>
        </div>
        <!-- END OF CARD 1 MODAL 1 -->
      
          <!-- CARD 1 MODAL 2-->
          <div class="modal fade" id="c1-2Modal2">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
        
            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">A Quiet Place II Trailer</h2> 
                <button type="button" class="close" data-dismiss="modal">&times;</button> 
            </div>
          
            <!-- Modal body -->
            <div class="modal-body">
              <!-- YOUTUBE EMBEDDED VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="660" height="371" src="https://www.youtube.com/embed/XEMwSdne6UE"
                  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <!-- END OF YOUTUBE EMBEDDED VIDEO -->
              
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
            </div>
          
          </div>
          </div>
          </div>
        <!-- END OF CARD 1 MODAL 2 -->

  <!-- CARD 2 -->
  <div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-dark text-white">
            <img src="img/images/mulan-box.jpg" alt="Mulan" class="card-img">
            <div class = "overlay">
                <div class="card-img-overlay">
                  <center><h5 class= "card-title">Mulan</h5></center> 
                  <div class="card-body">
                    <!-- BUTTON 1 -->
                    <center class="my-1">
                      <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c2-2Modal1">Details</button>
                    </center>
                    <!-- END OF BUTTON 1 -->
    
                    <!-- BUTTON 2 -->
                    <center class="my-1">
                      <form action="schedules.html" method="get" target="_self">
                        <button type="submit" class="btn btn-custom cardButtons mx-auto">Reserve</button>
                     </form>
                    </center>
                    <!-- END OF BUTTON 2 -->
    
                    <!-- BUTTON 3 -->
                    <center class="my-1">
                      <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c2-2Modal2">View Trailer</button>
                    </center>
                    <!-- END OF BUTTON 3 -->
                  </div>          
                  </div>
           </div>    
    </div>    
    </div>
    <!-- CARD 2 -->
    
    <!-- CARD 2 MODAL 1-->
    <div class="modal fade" id="c2-2Modal1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
            <h2 class="modal-title">Mulan</h2> 
            <button type="button" class="close" data-dismiss="modal">&times;</button> 
        </div>
      
        <!-- Modal body -->
        <div class="modal-body">
          <h5 class="modal-title">PG-13  | TBA | Action, Adventure, Drama | 27 March 2020 (USA)</h5><br>
          <p><b>Price: </b> Php 300.00</p>
          
          <p><b>Synopsis: </b>A young Chinese maiden disguises herself as a male warrior in order to save her father. 
            A live-action feature film based on Disney's 'Mulan.'</p>
          <p><b>Director/s: </b>  Niki Caro</p>
          <p><b>Cast: </b>   Yifei Liu, Donnie Yen, Jet Li </p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
        </div>
      
      </div>
      </div>
      </div>
      <!-- END OF CARD 2 MODAL 1 -->
    
        <!-- CARD 2 MODAL 2-->
        <div class="modal fade" id="c2-2Modal2">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
      
          <!-- Modal Header -->
          <div class="modal-header">
              <h2 class="modal-title">Mulan Trailer</h2> 
              <button type="button" class="close" data-dismiss="modal">&times;</button> 
          </div>
        
          <!-- Modal body -->
          <div class="modal-body">
            <!-- YOUTUBE EMBEDDED VIDEO -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" width="660" height="371" src="https://www.youtube.com/embed/KK8FHdFluOQ"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <!-- END OF YOUTUBE EMBEDDED VIDEO -->
            
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
          </div>
        
        </div>
        </div>
        </div>
      <!-- END OF CARD 2 MODAL 2 -->

<!-- CARD 3 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <div class="card bg-dark text-white">
          <img src="img/images/gunsakimbo-box.jpg" alt="Guns Akimbo" class="card-img">
          <div class = "overlay">
              <div class="card-img-overlay">
                <center><h5 class= "card-title">Guns Akimbo</h5></center> 
                <div class="card-body">
                  <!-- BUTTON 1 -->
                  <center class="my-1">
                    <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c3-2Modal1">Details</button>
                  </center>
                  <!-- END OF BUTTON 1 -->
  
                  <!-- BUTTON 2 -->
                  <center class="my-1">
                    <form action="schedules.html" method="get" target="_self">
                      <button type="submit" class="btn btn-custom cardButtons mx-auto">Reserve</button>
                   </form>
                  </center>
                  <!-- END OF BUTTON 2 -->
  
                  <!-- BUTTON 3 -->
                  <center class="my-1">
                    <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c3-2Modal2">View Trailer</button>
                  </center>
                  <!-- END OF BUTTON 3 -->
                </div>          
                </div>
         </div>    
  </div>    
  </div>
  <!-- CARD 3 -->
  
  <!-- CARD 3 MODAL 1-->
  <div class="modal fade" id="c3-2Modal1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
          <h2 class="modal-title">Guns Akimbo</h2> 
          <button type="button" class="close" data-dismiss="modal">&times;</button> 
      </div>
    
      <!-- Modal body -->
      <div class="modal-body">
        <h5 class="modal-title">R | 1h 35min | Action, Comedy | 28 February 2020 (USA)</h5><br>
        <p><b>Price: </b> Php 300.00</p>
        
        <p><b>Synopsis: </b>A guy relies on his newly-acquired gladiator skills to save his ex-girlfriend from kidnappers.</p>
        <p><b>Director/s: </b>  Jason Lei Howden</p>
        <p><b>Cast: </b>   Daniel Radcliffe, Samara Weaving, Rhys Darby </p>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
      </div>
    
    </div>
    </div>
    </div>
    <!-- END OF CARD 3 MODAL 1 -->
  
      <!-- CARD 3 MODAL 2-->
      <div class="modal fade" id="c3-2Modal2">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
    
        <!-- Modal Header -->
        <div class="modal-header">
            <h2 class="modal-title">Guns Akimbo Trailer</h2> 
            <button type="button" class="close" data-dismiss="modal">&times;</button> 
        </div>
      
        <!-- Modal body -->
        <div class="modal-body">
          <!-- YOUTUBE EMBEDDED VIDEO -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="660" height="371" src="https://www.youtube.com/embed/JggpSpqxS6I"
              frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <!-- END OF YOUTUBE EMBEDDED VIDEO -->
          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
        </div>
      
      </div>
      </div>
      </div>
    <!-- END OF CARD 3 MODAL 2 -->

<!-- CARD 4 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <div class="card bg-dark text-white">
          <img src="img/images/bloodshot-box.jpg" alt="Bloodshot" class="card-img">
          <div class = "overlay">
              <div class="card-img-overlay">
                <center><h5 class= "card-title">Bloodshot</h5></center> 
                <div class="card-body">
                  <!-- BUTTON 1 -->
                  <center class="my-1">
                    <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c4-2Modal1">Details</button>
                  </center>
                  <!-- END OF BUTTON 1 -->
  
                  <!-- BUTTON 2 -->
                  <center class="my-1">
                    <form action="schedules.html" method="get" target="_self">
                      <button type="submit" class="btn btn-custom cardButtons mx-auto">Reserve</button>
                   </form>
                  </center>
                  <!-- END OF BUTTON 2 -->
  
                  <!-- BUTTON 3 -->
                  <center class="my-1">
                    <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c4-2Modal2">View Trailer</button>
                  </center>
                  <!-- END OF BUTTON 3 -->
                </div>          
                </div>
         </div>    
  </div>    
  </div>
  <!-- CARD 4 -->
  
  <!-- CARD 4 MODAL 1-->
  <div class="modal fade" id="c4-2Modal1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
          <h2 class="modal-title">Bloodshot</h2> 
          <button type="button" class="close" data-dismiss="modal">&times;</button> 
      </div>
    
      <!-- Modal body -->
      <div class="modal-body">
        <h5 class="modal-title">PG-13 | 1h 49min | Action, Drama, Sci-Fi | 13 March 2020 (USA)</h5><br>
        <p><b>Price: </b> Php 300.00</p>
        
        <p><b>Synopsis: </b>Ray Garrison, a slain soldier, is re-animated with superpowers.</p>
        <p><b>Director/s: </b> Dave Wilson</p>
        <p><b>Cast: </b>  Sam Heughan, Eiza González, Vin Diesel  </p>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
      </div>
    
    </div>
    </div>
    </div>
    <!-- END OF CARD 4 MODAL 1 -->
  
      <!-- CARD 4 MODAL 2-->
      <div class="modal fade" id="c4-2Modal2">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
    
        <!-- Modal Header -->
        <div class="modal-header">
            <h2 class="modal-title">Bloodshot Trailer</h2> 
            <button type="button" class="close" data-dismiss="modal">&times;</button> 
        </div>
      
        <!-- Modal body -->
        <div class="modal-body">
          <!-- YOUTUBE EMBEDDED VIDEO -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="660" height="371" src="https://www.youtube.com/embed/vOUVVDWdXbo"
              frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <!-- END OF YOUTUBE EMBEDDED VIDEO -->
          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
        </div>
      
      </div>
      </div>
      </div>
    <!-- END OF CARD 4 MODAL 2 -->

</div>
<!-- END OF ROW-->

<span id="dots2"></span> 

<!-- VIEW MORE -->

<div id="more2" class="container">
<div class="row">
  <!-- CARD 1 ROW 2-->
  <div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card bg-dark text-white">
              <img src="img/images/onward-box.jpg" alt="Onward" class="card-img">
              <div class = "overlay">
                  <div class="card-img-overlay">
                    <center><h5 class= "card-title">Onward</h5></center> 
                    <div class="card-body">
                      <!-- BUTTON 1 -->
                      <center class="my-1">
                        <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c1r2-2Modal1">Details</button>
                      </center>
                      <!-- END OF BUTTON 1 -->
      
                      <!-- BUTTON 2 -->
                      <center class="my-1">
                        <form action="schedules.html" method="get" target="_self">
                          <button type="submit" class="btn btn-custom cardButtons mx-auto">Reserve</button>
                       </form>
                      </center>
                      <!-- END OF BUTTON 2 -->
      
                      <!-- BUTTON 3 -->
                      <center class="my-1">
                        <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c1r2-2Modal2">View Trailer</button>
                      </center>
                      <!-- END OF BUTTON 3 -->
                    </div>          
                    </div>
             </div>    
      </div>    
      </div>
      <!-- CARD 1 ROW 2 -->
      
      <!-- CARD 1 ROW 2 MODAL 1-->
      <div class="modal fade" id="c1r2-2Modal1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
              <h2 class="modal-title">Onward</h2> 
              <button type="button" class="close" data-dismiss="modal">&times;</button> 
          </div>
        
          <!-- Modal body -->
          <div class="modal-body">
            <h5 class="modal-title">PG | 1h 42min | Animation, Adventure, Comedy | 6 March 2020 (USA)</h5><br>
            <p><b>Price: </b> Php 300.00</p>
            
            <p><b>Synopsis: </b>Set in a suburban fantasy world, 
              two teenage elf brothers embark on a quest to discover if there is still magic out there.</p>
            <p><b>Director/s: </b> Dan Scanlon</p>
            <p><b>Cast: </b>  Tom Holland, Chris Pratt, Julia Louis-Dreyfus   </p>
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
          </div>
        
        </div>
        </div>
        </div>
        <!-- END OF CARD 1 ROW 2 MODAL 1 -->
      
          <!-- CARD 1 ROW 2 MODAL 2-->
          <div class="modal fade" id="c1r2-2Modal2">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
        
            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Onward Trailer</h2> 
                <button type="button" class="close" data-dismiss="modal">&times;</button> 
            </div>
          
            <!-- Modal body -->
            <div class="modal-body">
              <!-- YOUTUBE EMBEDDED VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="660" height="371" src="https://www.youtube.com/embed/gn5QmllRCn4"
                  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <!-- END OF YOUTUBE EMBEDDED VIDEO -->
              
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
            </div>
          
          </div>
          </div>
          </div>
        <!-- END OF CARD 1 ROW 2 MODAL 2 -->

  <!-- CARD 2 ROW 2-->
  <div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-dark text-white">
            <img src="img/images/pos-box.jpg" alt="Patients of a Saint" class="card-img">
            <div class = "overlay">
                <div class="card-img-overlay">
                  <center><h5 class= "card-title">Patients of a Saint</h5></center> 
                  <div class="card-body">
                    <!-- BUTTON 1 -->
                    <center class="my-1">
                      <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c2r2-2Modal1">Details</button>
                    </center>
                    <!-- END OF BUTTON 1 -->
    
                    <!-- BUTTON 2 -->
                    <center class="my-1">
                      <form action="schedules.html" method="get" target="_self">
                        <button type="submit" class="btn btn-custom cardButtons mx-auto">Reserve</button>
                     </form>
                    </center>
                    <!-- END OF BUTTON 2 -->
    
                    <!-- BUTTON 3 -->
                    <center class="my-1">
                      <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c2r2-2Modal2">View Trailer</button>
                    </center>
                    <!-- END OF BUTTON 3 -->
                  </div>          
                  </div>
           </div>    
    </div>    
    </div>
    <!-- CARD 2 ROW 2 -->
    
    <!-- CARD 4 MODAL 1-->
    <div class="modal fade" id="c2r2-2Modal1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
            <h2 class="modal-title">Patients of a Saint</h2> 
            <button type="button" class="close" data-dismiss="modal">&times;</button> 
        </div>
      
        <!-- Modal body -->
        <div class="modal-body">
          <h5 class="modal-title">R | 1h 46min | Horror | 3 January 2020 (USA)</h5><br>
          <p><b>Price: </b> Php 300.00</p>
          
          <p><b>Synopsis: </b>When medical trials are pushed to their limits, 
            the most extreme tests end up on St. Leonards Island in the north Atlantic 
            - a re-purposed prison for some of the world's most violent criminals. 
            But when one experiment goes wrong, the entire island becomes a terrifying, 
            disease riddled maze for desperate survivors.</p>
          <p><b>Director/s: </b>  Russell Owen</p>
          <p><b>Cast: </b>Meg Alexandra, Gabz Barker, Kate Bell </p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
        </div>
      
      </div>
      </div>
      </div>
      <!-- END OF CARD 2 ROW 2 MODAL 1 -->
    
        <!-- CARD 2 ROW 2 MODAL 2-->
        <div class="modal fade" id="c2r2-2Modal2">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
      
          <!-- Modal Header -->
          <div class="modal-header">
              <h2 class="modal-title">Patients of Saint Trailer</h2> 
              <button type="button" class="close" data-dismiss="modal">&times;</button> 
          </div>
        
          <!-- Modal body -->
          <div class="modal-body">
            <!-- YOUTUBE EMBEDDED VIDEO -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" width="660" height="371" src="https://www.youtube.com/embed/I1qdJiSDiK0"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <!-- END OF YOUTUBE EMBEDDED VIDEO -->
            
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
          </div>
        
        </div>
        </div>
        </div>
      <!-- END OF CARD 2 ROW 2 MODAL 2 -->

</div>
<!-- END OF ROW 2-->
</div>
<!-- END OF CONTAINER -->

<div class="nav nav-pills mb-3 justify-content-center">
    <button onclick="myFunction2()" id="myBtn2" class="btn btn-custom btn-md">View All</button>
  </div>

</div>
<!-- END OF COMING SOON -->

</div>
<!-- END OF TAB CONTENT -->
</div>
<!-- END OF CONTAINER -->


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>About Us</h1>      
    <p>W&Js Cinemas was founded by 3 students from De La Salle University
       applying their expertise in the field of Computer Science and Information Systems.</p>
  </div>
 </div> 
<br><br>

