<!-- BODY -->  
<div class="container">
    <div class="jumbotron jumbo">
        <center><h1>W&Js Cinemas Schedules</h1></center>
        <center>
            <small><p>Reserve seats based on your preferred schedule.</p></small>
        </center>
    </div>   
  </div>
  
<!-- MOVIE CARDS -->
<div class="container-fluid">
<div class="row">

<!-- CARD 1 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-custom text-white">
            <img class="card-img-top" src="img/images/1917-box.jpg" alt="1917" class="card-img">
            <div class="card-body m-auto">
                <h5 class="card-title">1917</h5>
                <p class="card-text"><small><b>Rating:</b> R</small></p>
                <hr>
                <p class="card-text"><b>Cinema 1 </b></p>
                <small><p class="card-text">Php 300.00</p></small>
                <hr> 
                <small><p class="card-text"><b>SCHEDULE: </b>March 1, 2020</p></small>
                <small><pre class="card-text my-1">01:30 PM     |   04:00 PM    |   06:15 PM</pre></small>
                <small><pre class="card-text">08:45 PM</pre></small>

                 <!-- BUTTON 2 -->
                 <center class="my-3">
                    <form action="/reserve/1917" method="get" target="_self">
                      <button type="submit" class="btn btn-custom cardButtons2 mx-auto">Reserve</button>
                   </form>
                  </center>
                  <!-- END OF BUTTON 2 -->
              </div>
      </div>    
  </div>
  <!-- CARD 1 -->


<!-- CARD 2 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-custom text-white">
            <img class="card-img-top" src="img/images/parasite-box.jpg" alt="Parasite" class="card-img">
            <div class="card-body m-auto">
                <h5 class="card-title">Parasite</h5>
                <p class="card-text"><small><b>Rating:</b> R</small></p>
                <hr>
                <p class="card-text"><b>Cinema 2 </b></p>
                <small><p class="card-text">Php 300.00</p></small>
                <hr>
                <small><p class="card-text"><b>SCHEDULE: </b>March 1, 2020</p></small>
                <small><pre class="card-text my-1">01:00 PM     |   03:35 PM    |   06:10 PM</pre></small>
                <small><pre class="card-text">08:45 PM</pre></small>

                 <!-- BUTTON 2 -->
                 <center class="my-3">
                    <form action="reserve/parasite" method="get" target="_self">
                      <button type="submit" class="btn btn-custom cardButtons2 mx-auto">Reserve</button>
                   </form>
                  </center>
                  <!-- END OF BUTTON 2 -->
              </div>
      </div>    
  </div>
  <!-- CARD 2 -->

<!-- CARD 3 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-custom text-white">
            <img class="card-img-top" src="img/images/sonic-box.jpg" alt="Sonic the Hedgehog" class="card-img">
            <div class="card-body m-auto">
                <h5 class="card-title">Sonic the hedgehog</h5>
                <p class="card-text"><small><b>Rating:</b> PG</small></p>
                <hr>
                <p class="card-text"><b>Cinema 3 </b></p>
                <small><p class="card-text">Php 300.00</p></small>
                <hr>
                <small><p class="card-text"><b>SCHEDULE: </b>March 1, 2020</p></small>
                <small><pre class="card-text my-1">02:00 PM     |   04:15 PM    |   06:30 PM</pre></small>
                <small><pre class="card-text">08:45 PM</pre></small>

                 <!-- BUTTON 2 -->
                 <center class="my-3">
                    <form action="/reserve/sonic" method="get" target="_self">
                      <button type="submit" class="btn btn-custom cardButtons2 mx-auto">Reserve</button>
                   </form>
                  </center>
                  <!-- END OF BUTTON 2 -->
              </div>
      </div>    
  </div>
  <!-- CARD 3 -->

<!-- CARD 4 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-custom text-white">
            <img class="card-img-top" src="img/images/bop-box.jpg" alt="Birds of Prey" class="card-img">
            <div class="card-body m-auto">
                <h5 class="card-title">Birds of Prey</h5>
                <p class="card-text"><small><b>Rating:</b> R</small></p>
                <hr>
                <p class="card-text"><b>Cinema 4 </b></p>
                <small><p class="card-text">Php 300.00</p></small>
                <hr>
                <small><p class="card-text"><b>SCHEDULE: </b>March 1, 2020</p></small>
                <small><pre class="card-text my-1">03:00 PM    |   05:45 PM    |   08:30 PM</pre></small>
                <small><pre class="card-text">10:15 PM</pre></small>

                 <!-- BUTTON 2 -->
                 <center class="my-3">
                    <form action="/reserve/BOP" method="get" target="_self">
                      <button type="submit" class="btn btn-custom cardButtons2 mx-auto">Reserve</button>
                   </form>
                  </center>
                  <!-- END OF BUTTON 2 -->
              </div>
      </div>    
  </div>
  <!-- CARD 4 -->

</div>
<!-- END OF ROW-->

<span id="dots"></span> 

<!-- VIEW MORE -->

<div id="more" class="container">
<div class="row">

<!-- CARD 1 ROW 2 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-custom text-white">
            <img class="card-img-top" src="img/images/bb4life-box.png" alt="Bad Boys for Life" class="card-img">
            <div class="card-body m-auto">
                <h5 class="card-title">Bad Boys for Life</h5>
                <p class="card-text"><small><b>Rating:</b> R</small></p>
                <hr>
                <p class="card-text"><b>Cinema 5 </b></p>
                <small><p class="card-text">Php 300.00</p></small>
                <hr>
                <small><p class="card-text"><b>SCHEDULE: </b>March 1, 2020</p></small>
                <small><pre class="card-text my-1">01:45 PM    |   04:45 PM    |   07:45 PM</pre></small>
                <small><pre class="card-text">10:45 PM</pre></small>

                 <!-- BUTTON 2 -->
                 <center class="my-3">
                    <form action="c1r2.html" method="get" target="_self">
                      <button type="submit" class="btn btn-custom cardButtons2 mx-auto">Reserve</button>
                   </form>
                  </center>
                  <!-- END OF BUTTON 2 -->
              </div>
      </div>    
  </div>
  <!-- CARD 1 ROW 2 -->

  
<!-- CARD 2 ROW 2 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-custom text-white">
            <img class="card-img-top" src="img/images/dolittle-box.jpg" alt="DoLittle" class="card-img">
            <div class="card-body m-auto">
                <h5 class="card-title">DoLittle</h5>
                <p class="card-text"><small><b>Rating:</b> PG</small></p>
                <hr>
                <p class="card-text"><b>Cinema 6 </b></p>
                <small><p class="card-text">Php 300.00</p></small>
                <hr>
                <small><p class="card-text"><b>SCHEDULE: </b>March 1, 2020</p></small>
                <small><pre class="card-text my-1">01:45 PM    |   04:45 PM    |   07:45 PM</pre></small>
                <small><pre class="card-text">10:45 PM</pre></small>

                 <!-- BUTTON 2 -->
                 <center class="my-3">
                    <form action="c2r2.html" method="get" target="_self">
                      <button type="submit" class="btn btn-custom cardButtons2 mx-auto">Reserve</button>
                   </form>
                  </center>
                  <!-- END OF BUTTON 2 -->
              </div>
      </div>    
  </div>
  <!-- CARD 2 ROW 2 -->


  <!-- CARD 3 ROW 2 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-custom text-white">
            <img class="card-img-top" src="img/images/tnc-box.jpg" alt="The Night Clerk" class="card-img">
            <div class="card-body m-auto">
                <h5 class="card-title">The Night Clerk</h5>
                <p class="card-text"><small><b>Rating:</b> R</small></p>
                <hr>
                <p class="card-text"><b>Cinema 7 </b></p>
                <small><p class="card-text">Php 300.00</p></small>
                <hr>
                <small><p class="card-text"><b>SCHEDULE: </b>March 1, 2020</p></small>
                <small><pre class="card-text my-1">01:45 PM    |   04:45 PM    |   07:45 PM</pre></small>
                <small><pre class="card-text">&nbsp;</pre></small>

                 <!-- BUTTON 2 -->
                 <center class="my-3">
                    <form action="c3r2.html" method="get" target="_self">
                      <button type="submit" class="btn btn-custom cardButtons2 mx-auto">Reserve</button>
                   </form>
                  </center>
                  <!-- END OF BUTTON 2 -->
              </div>
      </div>    
  </div>
  <!-- CARD 3 ROW 2 -->

  
  <!-- CARD 4 ROW 2 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-custom text-white">
            <img class="card-img-top" src="img/images/callofwild-box.jpg" alt="The Call of the Wild" class="card-img">
            <div class="card-body m-auto">
                <h5 class="card-title">The Call of the Wild</h5>
                <p class="card-text"><small><b>Rating:</b> PG</small></p>
                <hr>
                <p class="card-text"><b>Cinema 8 </b></p>
                <small><p class="card-text">Php 300.00</p></small>
                <hr>
                <small><p class="card-text"><b>SCHEDULE: </b>March 1, 2020</p></small>
                <small><pre class="card-text my-1">01:45 PM    |   04:45 PM    |   07:45 PM</pre></small>
                <small><pre class="card-text">&nbsp;</pre></small>

                 <!-- BUTTON 2 -->
                 <center class="my-3">
                    <form action="c4r2.html" method="get" target="_self">
                      <button type="submit" class="btn btn-custom cardButtons2 mx-auto">Reserve</button>
                   </form>
                  </center>
                  <!-- END OF BUTTON 2 -->
              </div>
      </div>    
  </div>
  <!-- CARD 4 ROW 2 -->

</div>
<!-- END OF ROW 2-->
</div>
<!-- END OF CONTAINER -->

<div class="nav nav-pills mb-3 justify-content-center">
  <button onclick="myFunction()" id="myBtn" class="btn btn-custom btn-md">View All</button>
</div>

</div>
<!-- END OF NOW SHOWING -->
</div>
<!-- END OF CONTAINER -->
<br> <br>