{{!< layout}}


<div class="container">
    <div class="jumbotron jumbo">
        <center><h1>W&Js Cinemas Snacks</h1></center>
        <center>
            <small><p>Enjoy our various selection of snacks.</p></small>
        </center>
    </div>   
  </div>
  
  <div class="container" style="padding-top: 50px; padding-bottom: 100px;">
    <center><img class="img-fluid rounded" src="img/images/snacks.png" 
        alt="Snacks" width="700" height="900"></center><br>
  </div>