html body {
    background-color: whitesmoke;
}

* {
    font-family: 'Montserrat' ;
}

.dash.table.table-hover {
    max-width: 50%;
}

.dashflex {
    display:flex;
    flex-direction: row;
    overflow: auto;
}

#db.nav-link.active, #aml.nav-link.active, #aul.nav-link.active,  #details.nav-link.active, #log.nav-link.active{
    background-color: #4717F6;
    color: #E7DFDD;
}

#db.nav-link.active:hover, #aml.nav-link.active:hover, #aul.nav-link.active:hover,  
    #details.nav-link.active:hover, #log.nav-link.active:hover{
    background-color: #4717F6;
    color: white;
}

#db.nav-link, #aml.nav-link, #aul.nav-link, #details.nav-link, #log.nav-link {
    color: black;
}

#db.nav-link:hover, #aml.nav-link:hover, #aul.nav-link:hover, #details.nav-link:hover, #log.nav-link:hover {
    color: black;
    font-weight: 590;
    background-color: #E0E0E0;
}


/* FOOTER NAV BAR */
#bottom {
    background-color:#4717F6; 
}
#bottom ul li a{
    color: #E7DFDD;
}

#bottom ul li a:hover {
    color: white;
}

#copyright li small{
    color: #E7DFDD;
}

#copyright li small:hover {
    color: white;
}

#collapsibleNavbar ul li a{
    color: black;
}

#collapsibleNavbar ul li a:hover {
    color: #A239CA;
}
/* SOCIAL MEDIA ACCOUNTS */
#sm {
    padding-left: 17%;
}
/* END OF FOOTER NAV BAR */

.navbar {
    background-color: #E8E8E8;
}

button.btn.btn-custom.dropdown-toggle {
    background-color: #4717F6;
    border-radius: 30px;
    color: #E7DFDD;
}

button.btn.btn-custom.dropdown-toggle:hover{
    border: 1px solid white;
    color: white;
    font-weight: 590;
}

button.btn.btn-custom.dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none!important; 
}

 .dropdown-menu .dropdown-item{
     background-color: whitesmoke;
     color: black !important;
 }
 
 .dropdown-menu:hover .dropdown-item:hover{
     background-color: #E0E0E0;
     color: black !important;
     font-weight: 590;
 }
 
 div.dropdown-menu.show {
     background-color: whitesmoke;
 }