/* HTML BODY */
 
.row-fluid.footer{
  height:auto;
  min-height:100%;
  }
 html *
 {
     font-family: 'Montserrat' !important ;
 } 
 
 html body {
     background-color: #0e0b16;
     color: #E7DFDD;
     height:100%;
 }
 /* END OF HTML BODY */
 
 /* NAV BARS */
  .navbar {
     background-color: #0E0B16;
 }
 
 /* FOOTER NAV BAR */
 #bottom {
     background-color:#4717F6; 
 }
 #bottom ul li a{
     color: #E7DFDD;
 }
 
 #bottom ul li a:hover {
     color: white;
 }
 
 #copyright li small{
     color: #E7DFDD;
 }
 
 #copyright li small:hover {
     color: white;
 }
 
 
 #collapsibleNavbar ul li a{
     color: #E7DFDD;
 }
 
 #collapsibleNavbar ul li a:hover {
     color: #A239CA;
 }
 /* SOCIAL MEDIA ACCOUNTS */
 #sm {
     padding-left: 17%;
 }
 /* END OF FOOTER NAV BAR */
 
 /* END OF NAV BARS */

 /* FOR JUMBOTRONS */
 .jumbotron.jumbotron-fluid {
    background-color: black;
}
 
 /* CAROUSEL */

 /* This makes sure that carousel image is responsive */
 .carousel-inner img {
     width: 100%;
     height: 100%;
 }

 /* This is for the div of the whole carousel */
 #demo {
   width: 100%;
   margin-bottom: 20px;
 }

/* Change size of carousel here */
.carousel-item{
    height: 600px;
} 
.carousel-item img{
    height: 600px;
}

 /* END OF CAROUSEL */
 
 /* PILLS (NOW SHOWING AND COMING SOON) */
 #pills-tab {
     border: none;
     color: #E7DFDD;
     text-decoration: none;
     transition-duration: 0.4s;
     cursor: pointer;
 }
 
 #pills-tab .nav-item #pills-nowshowing-tab-tab:focus {
     outline: none;
   }
 
 #pills-tab .nav-item #pills-comingsoon-tab:focus {
     outline: none;
   }
 
 #pills-tab .nav-item #pills-nowshowing-tab {
     color: #E7DFDD;
     background-color: #4717F6;
     border: 1px solid #4717F6;
     border-radius: 30px;
     cursor: pointer;
 }
 
 #pills-tab .nav-item #pills-nowshowing-tab:hover {
     border: 1px solid white;
     color: white;
   }
 
 #pills-tab .nav-item #pills-comingsoon-tab {
     color: #E7DFDD;
     background-color: #4717F6;
     border: 1px solid #4717F6;
     border-radius: 30px;
     margin-left: 30px;
     cursor: pointer;
 }
 
 #pills-tab .nav-item #pills-comingsoon-tab:hover {
     border: 1px solid white;
     color: white;
   }

   .nav-pills .nav-link.active {
    color: white !important;
    border: 1px solid white !important;
    font-weight: 595;
  }
 
 #account, #login {
     cursor: pointer;
 }
 /* END OF PILLS (NOW SHOWING AND COMING SOON) */
 
 .cardcontainer1 {
     margin-bottom: 20px;
 }
 
 .cardcontainer1 img
 {
     width: 100%;
     height: 100%;
 }
 .cardcontainer1:hover .overlay
 {
     opacity: 0.96;
 }
 
 .overlay {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     height: 100%;
     width: 100%;
     opacity: 0;
     transition: .3s ease;
     background-color: #101010;
     color:#E7DFDD;
     font-weight: bold;
   }
 
   .row {
     display: flex;
     flex-wrap: wrap;
     margin-right: -15px;
     margin-left: -15px;
     margin-top: 15px;
     margin-bottom: 15px;
 }
 
 #more {
     display: none;
 }
 
 #more2 {
     display: none; 
 }
 
 
 #myDIV {
     width: 100%;
     padding: 50px 0;
     text-align: center;
     margin-top: 20px;
   }
 
 #myBtn {
     margin-bottom: 15px;
     color: #E7DFDD;
     background-color: #4717F6;
     border: 1px solid #4717F6;
     border-radius: 30px;
     cursor: pointer;
 }
 
 #myBtn:hover {
     border: 1px solid white;
     color: white;
 }
 
 #myBtn:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    outline: 0;
 }   
 
 
 #myBtn2 {
     margin-bottom: 15px;
     color: #E7DFDD;
     background-color: #4717F6;
     border: 1px solid #4717F6;
     border-radius: 30px;
     cursor: pointer;
 }
 
 #myBtn2:hover {
     border: 1px solid white;
     color: white;
 }
 
 #myBtn2:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    outline: 0;
 }   
 
 .btn.btn-custom.cardButtons{
     margin-bottom: 15px;
     color: #E7DFDD;
     background-color: #4717F6;
     border: 1px solid #4717F6;
     border-radius: 30px;
     cursor: pointer;
     width: 100%;
     opacity: 1;
     font-weight: 590;
 }
 
 .btn.btn-custom.cardButtons:hover{
     border: 1px solid white;
     color: white;
     font-weight: 590;
 }
 
 
 .btn.btn-custom.cardButtons:focus {
     outline: none !important;
     box-shadow: none!important; 
 }
 
 .card-body
 {
     margin-top: 100px;
 }
 
 
 .modal .modal-dialog .modal-content {
    background-color: #0E0B16;
    color: #E7DFDD; 
 }
 
 .modal .modal-dialog .modal-content .modal-header {
     background-color: #4717F6;
 }
    
 
 .btn.btn-custom.modalButton, .btn.btn-custom.reserve {
     margin-bottom: 15px;
     color: #E7DFDD;
     background-color: #4717F6;
     border: 1px solid #4717F6;
     border-radius: 30px;
     cursor: pointer;
 }
 
 .btn.btn-custom.modalButton:hover, .btn.btn-custom.reserve:hover {
     border: 1px solid white;
     color: white;
 }
 
 .btn.btn-custom.modalButton:active, .btn.btn-custom.reserve:active {
     outline: none;
 }   

 button.btn.btn-custom.modalButton:focus, .btn.btn-custom.reserve:focus{
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    outline: 0;
} 

/* cancel button */

.btn.btn-custom.cancelButton {
    margin-bottom: 15px;
    color: #E7DFDD;
    background-color: red;
    border: 1px solid red;
    border-radius: 30px;
    cursor: pointer;
}

.btn.btn-custom.cancelButton:hover, .btn.btn-custom.reserve:hover {
    border: 1px solid white;
    color: white;
}

.btn.btn-custom.cancelButton:active, .btn.btn-custom.reserve:active {
    outline: none;
}   

button.btn.btn-custom.cancelButton:focus, .btn.btn-custom.reserve:focus{
   -webkit-box-shadow: none!important;
   box-shadow: none!important;
   outline: 0;
} 
/* Cancel button */
 
 button.close {
     color: #E7DFDD;
 }
 
 button.close:hover {
     color: #A239CA;
 }
 
 button.close:focus {
     outline: none; 
 }
 
 .form-group{
     padding-top: 15px;
 }

 .form-control {
    border-radius: 30px;
    background-color: #E7DFDD;
    color: #0E0B16;
 }

 .form-control:focus {
    border-color: #4717F6 !important;
 }
 
 
 label {
     color: #E7DFDD;
     font-weight: 590;
 }
 
 #forgot, #reg {
     color: #A239CA
 }
 
 .jumbotron.jumbo {
     background-color:#4717F6;
     border: #4717F6;
 }
 
 .card-body * {
     color: #0E0B16;
 }
 
 .card.bg-custom {
     background-color: #E7DFDD;
 }
 
 /* SCHEDULES RESERVE BUTTON  */
 .btn.btn-custom.cardButtons2{
     margin-bottom: 15px;
     color: #E7DFDD;
     background-color: #4717F6;
     border: 1px solid #4717F6;
     border-radius: 30px;
     cursor: pointer;
     width: 100%;
     opacity: 1;
     font-weight: 590;
 }
 
 .btn.btn-custom.cardButtons2:hover{
    border: 1px solid white;
     background-color: #A239CA;
     color: white;
     font-weight: 590;
 }
 
 
 .btn.btn-custom.cardButtons2:focus {
     outline: none !important;
     box-shadow: none!important; 
 }
 /* END OF SCHEDULES RESERVE BUTTON */
 
 #account #profile {
     padding-right: 20px;
 }
 
 .btn.btn-custom.dropdown-toggle {
     background-color: #4717F6;
     border-radius: 30px;
     color: #E7DFDD;
 }
 
 .btn.btn-custom.dropdown-toggle:hover{
     border: 1px solid white;
     color: white;
     font-weight: 590;
 }
 
 .btn.btn-custom.dropdown-toggle:focus {
     outline: none !important;
     box-shadow: none!important; 
 }
 
 .dropdown-menu .dropdown-item{
     background-color: black;
     color: #E7DFDD !important;
 }
 
 .dropdown-menu:hover .dropdown-item:hover{
     border: 1px solid white;
     background-color: #A239CA;
     color: white !important;
 }
 
 div.dropdown-menu.show {
     background-color: black;
 }
 
 .nav-tabs .nav-link {
     color: #E7DFDD;
 }
 
 #details.active, #contact.active {
     background-color: #4717F6;
     color: #E7DFDD !important;
 }
 
 #transactions.active, #faq.active {
     background-color: #4717F6;
     color: #E7DFDD !important;
 }
 
 #userdetails, #usertransactions, #contactus, #faqs {
     background-color: #E7DFDD;
     color: #0E0B16;
 }
 
 thead:hover, table.table.table-hover tr:hover {
     /* background-color: #A239CA; */
     color: white;
 }

 table{
    overflow-y:scroll;
    height: 445px;
    display:block;
 }
 
 div.container.seatselection {
     background-color: #E7DFDD;
     color: #0E0B16 !important;
     width: 70%;
     height: 10%;
     margin: auto;
 }
 
 /* DROPDOWN BUTTONS FOR RESERVE */
 .btn.btn-custom.dropdown-toggle.v2 {
     background-color: #E7DFDD;
     border-radius: 30px;
     color: black;
 }
 
 .btn.btn-custom.dropdown-toggle.v2:hover{
     border: 1px solid black;
     color: black;
     font-weight: 500;
 }
 
 .btn.btn-custom.dropdown-toggle.v2:focus {
     outline: none !important;
     box-shadow: none!important; 
 }

 [type=button], [type=reset], [type=submit], button {
    -webkit-appearance: menulist-button;
}
 /* END OF DROPDOWN BUTTONS FOR RESERVE */
 
 .form-group.flexboxCustom{
     margin: 10px auto;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: center;
     overflow: auto;
 }

 /* FOOTER STAY AT BOTTOM */
 .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

 /* END OF FOOTER STAY AT BOTTOM */

 div.container.tickets {
    background-color: #E7DFDD; 
    color:black; 
    margin-top: 50px;
    margin-bottom: 200px;
    width: 1000px;
 }

 label.custom-control-label::after:focus {
     outline: none !important;
     background-color: black;
 }

 .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
     background-color: #4717F6;
 }

 .custom-checkbox .custom-control-input.avail:disabled~.custom-control-label::after{
    background-color: white;
}

.custom-checkbox .custom-control-input:disabled~.custom-control-label::after{
    background-color: #4717F6;
}

